.about {
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }

  h1, h2 {
    @media screen and (min-width: $tablet) {
      font-size: 38px;
      line-height: 46px;
    }
  }

  h1 {
    @media screen and (min-width: $tablet) {
      letter-spacing: -1px;
    }
  }

  .hero {
    padding: $medium 0 $large 0;

    @media screen and (min-width: $tablet) {
      padding: $xl 0 $xxl 0;
    }

    .copy {
      @media screen and (min-width: $tablet) {
        lost-column: 7/12;
      }
    }

    .img {
      display: none;

      @media screen and (min-width: $tablet) {
        display: initial;
        lost-column: 5/12;
      }
    }

    img {
      width: 505px;
      height: 648px;

      @media screen and (min-width: $tablet) {
        position: absolute;
        top: $large;
        z-index: -1;
      }

      @media screen and (min-width: $desktop) {
        top: 0;
      }
    }
  }

  .numbers {
    background: $darkGrey url('/img/about/numbers-bg.jpg') repeat -1px -1px;
    background-size: 501px 309px;
    color: white;
    font-family: $heebo;
    font-weight: $black;
    text-align: center;
    position: relative;

    &:after {
      background: $darkGrey url('/img/about/numbers-bg.jpg') repeat right -1px;
      background-size: 501px 309px;
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
    }

    .container {
      background: $blue;
      box-sizing: border-box;
      padding: $xl $large;
      border-left: 1px solid white;
      border-right: 1px solid white;
      position: relative;
      z-index: 2;

      > div {
        margin: 0 auto;

        @media screen and (min-width: $tablet) {
          margin: initial;
          lost-column: 1/2;
        }
      }
    }

    strong {
      font-size: 76px;
      line-height: 67px;
      letter-spacing: -1.4px;
    }

    span {
      font-size: $tiny;
      text-transform: uppercase;
      display: block;
      padding-left: $micro;
      margin: 13px 0 -4px 0;
    }

    .partners span {
      letter-spacing: 2.63px;
      margin-bottom: $medium;

      @media screen and (min-width: $tablet) {
        margin-bottom: -4px;
      }
    }

    .businesses span {
      letter-spacing: 7.48px;
    }
  }

  .team {
    padding: $large 0;

    @media screen and (min-width: $tablet) {
      padding: $xl 0;
    }

    h1 {
      width: 100%;
      margin: $small 0 52px 0;
    }

    .employee {

      &:not(:last-child) {
        margin-bottom: $large;

        @media screen and (min-width: $tablet) {
          margin-bottom: $medium;
        }
      }

      @media screen and (min-width: $tablet) {
        justify-content: center;
        align-items: center;
      }
    }

    .img {
      padding-bottom: $medium;
      width: $xxl;
      margin: 0 auto;

      @media screen and (min-width: $tablet) {
        margin: initial;
        padding-bottom: initial;
        width: initial;
        lost-column: 5/12;
      }
    }

    img {
      box-shadow: 0 4px $tiny 0 rgba(0,0,0,0.2);
      border-radius: $borderRadius;
      width: 100%;
      max-width: 380px;
    }

    .copy {
      @media screen and (min-width: $tablet) {
        lost-column: 7/12;
      }

      h2 {
        margin: 0 0 27px 0;
      }

      p {
        margin: 0;
      }
    }
  }
}
