.contact {
  padding: $small 0;

  h2 {
    text-align: center;
    width: 100%;
    margin: 0 0 50px 0;
  }

  form {
    lost-column: 1/2;
    lost-offset: 1/4;
  }

  label {
    display: block;
    font-weight: $bold;
    font-family: $heebo;
    font-size: 18px;

    &.name,
    &.company {
      lost-column: 1/2;
    }
  }

  input,
  textarea,
  button {
    display: block;
    background: white;
    box-shadow: none;
    outline: none;
    width: 100%;
    padding: $tiny;
    border: 1px solid $lightestGrey;
    border-radius: $smallBorderRadius;
    margin: 11px 0 35px 0;
    box-sizing: border-box;
    font-size: 18px;
  }

  button {
    background: $blue;
    font-weight: $bold;
    font-family: $heebo;
    font-size: 18px;
    color: white;
    transition: background .2s linear;

    &:hover {
      background: $darkBlue;
    }
  }
}
