.product-detail {
  padding: $large 0;

  + .footer {
    @media screen and (min-height: 594px) {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

.product {
  lost-align: center;
  text-align: center;
  text-decoration: none;
  color: black;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }

  &:hover .tile {
    transform: translateY(-$micro);
  }

  &.online-business-card p:after {
    display: block;
    background: url(/img/products/five-stars.jpg) no-repeat top center;
    background-size: 81px 13px;
    padding: $tiny 0 0 0;
    content: 'PortaSpa.net';
    color: $lightGrey;
    font-size: 12px;
    margin-top: 12px;

    @media screen and (min-width: $tablet) {
      background-position: left center;
      padding: 1px 0 0 97px;
    }
  }

  .tile {
    padding-bottom: $medium;
    width: $xxl;
    transition: transform .2s linear;

    @media screen and (min-width: $tablet) {
      padding-bottom: initial;
      width: initial;
      lost-column: 4/12;
    }

    img {
      box-shadow: 0 4px $tiny 0 rgba(0,0,0,0.2);
      border-radius: $borderRadius;
      width: 100%;
      max-width: 300px;
    }
  }

  .copy {
    @media screen and (min-width: $tablet) {
      lost-column: 7/12;
      lost-offset: 1/12;
    }

    h2 {
      margin: 0 0 27px 0;
    }

    p {
      margin: 0;
    }
  }
}
