{{ define "main" }}
<div class="about">
  <section class="hero">
    <div class="container">
      <div class="copy">
        <h1>We craft solutions for online identity management<span class="period">.</span></h1>
        <p>With decades of experience under our belt we know that a strong online presence, done right, can exponentially grow a business. That’s why we continue to innovate new technologies that serve the interest of small businesses and their online identity.</p>
      </div>
      <div class="img">
        <img src="/img/about/s-map.jpg"/>
      </div>
    </div>
  </section>
  <section class="numbers">
    <div class="container">
      <div class="partners">
        <strong>1,000+</strong>
        <span>partners worldwide</span>
      </div>
      <div class="businesses">
        <strong>1 Million</strong>
        <span>businesses served</span>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container">
      <h1>Meet the executive team<span class="period">.</span></h1>
    </div>
    <article class="employee container">
      <div class="img">
        <img src="/img/about/gur.jpg">
      </div>
      <div class="copy">
        <h2>
          Gur Brosh
          <span class="subhead">Co-founder & CEO</span>
        </h2>
        <p>
          With over 20 years of technical leadership, Gur heads the operations at AppSharp. Making sure technology and services are delivered without a hitch, Gur manages data partnerships, affiliate clients and customer support.
          <br><br>
          <strong>“The key to our success is understanding the customer, and placing ourselves in their shoes. The dreams of a single entrepreneur is no smaller than a well established enterprise; our goal is to provide each client with exceptional service and value.” </strong>
        </p>
      </div>
    </article>
    <article class="employee container">
      <div class="img">
        <img src="/img/about/eran.jpg">
      </div>
      <div class="copy">
        <h2>
          Eran Sandler
          <span class="subhead">Co-founder & CTO</span>
        </h2>
        <p>
          Eran brings decades of architecting, writing, and maintaining software at scale. Prior to AppSharp, Eran worked as part of an Israeli VC developing new companies such as MyPermissions. Eran was also the co-founder of Yedda (later AOL Answers) which was acquired by AOL in 2007.
          <br><br>
          <strong>“Writing code is still one of the greatest and most fulfilling things I do every day.”</strong>
        </p>
      </div>
    </article>
    <article class="employee container">
      <div class="img">
        <img src="/img/about/ohad.jpg">
      </div>
      <div class="copy">
        <h2>
          Ohad Eder-Pressman
          <span class="subhead">Co-founder & President</span>
        </h2>
        <p>
          With a vast experience of starting, operating and growing tech companies, Ohad co-founded AppSharp in 2013. Ohad’s last business, 3D3R Software,was acquired by Chegg Inc. (NYSE:CHGG) where Ohad later served on the company’s executive team as their VP of R&D.
          <br><br>
          With a background in engineering and a soft spot for developer tools/platforms, Ohad engages with and invests in startups.
        </p>
      </div>
    </article>
  </section>
</div>
{{end}}
