{{ define "main" }}
<div class="contact">
  <section class="hero">
    <div class="container">
      <h2>Let's get in touch<span class="period">.</span></h2>
      <form id="contact-form" name="contact" method="POST" netlify-honeypot="bot-field" action="/thank-you/" netlify>
        <div>
          <label class="name">Name<input name="name" type="text"/></label>
          <label class="email">Email<input name="email" type="email"/></label>
          <label class="company">Company<input name="company" type="text"/></label>
          <label class="message">Message<textarea name="message" rows="6"></textarea></label>
          <button type="submit">Send</button>
          <div style="text-align: center; color: #c0c0c0">
            <h4>Or call us: +1-609-817-4277</h4>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
{{end}}
