{{ define "main" }}
<div class="contact">
  <section class="hero">
    <div class="container">
      <h2>Let's get in touch<span class="period">.</span></h2>
      <form id="contact-form" name="contact" method="POST" netlify-honeypot="bot-field" action="/thank-you/" netlify>
        <div>
          <label class="name">Name<input type="text"/></label>
          <label class="email">Email<input type="email"/></label>
          <label class="company">Company<input type="text"/></label>
          <label class="message">Message<textarea rows="6"></textarea></label>
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
  </section>
</div>
{{end}}
